C:before
{
	content: 'Nickname: ' attr(Cname) ' Level:' attr(Clvl) ' Money:' attr(Cmoney);
}

C
{
	display: block;
	border: 1px solid black;
    font-family: 'Consolas', 'Lucida Console';
    font-size: 10pt;
}
